<header class="site-header">
  <div class="header-container">
    <a href="{{ '/' | relative_url }}" class="site-logo">{{ site.title }}</a>
    <nav class="site-nav">
      <a href="{{ '/' | relative_url }}" class="nav-link">Home</a>
      <a href="{{ '/categories/programming' | relative_url }}" class="nav-link">Programming</a>
      <a href="{{ '/categories/cs' | relative_url }}" class="nav-link">CS</a>
      <a href="{{ '/categories/project' | relative_url }}" class="nav-link">Project</a>
      <a href="{{ '/categories/ai' | relative_url }}" class="nav-link">AI</a>
    </nav>
  </div>
</header>
